.top {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 9999;
}

.top-left,
.top-right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-left i {
  font-size: 20px;
  color: #444;
  cursor: pointer;
  margin-right: 10px;
}

.top-left button {
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}

.top-center {
  flex: 6;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar .navbar-item {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  margin-right: 10px;
}

.top-right .profile-pic {
  border-radius: 50%;
  object-fit: cover;
}

.top-right .fa-search {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
