.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
}

.post img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-cat {
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.post-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.post-date {
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 15px;
}

.post-desription {
  font-size: 14px;
  color: #444;
  list-style: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
